<p>Hi <%= @user.first_name %>,</p>

<p>Click the link below to sign in to your account:</p>

<p><%= link_to "Sign in to KCDServe", @magic_link_url %></p>

<p>This link will expire in 15 minutes.</p>

<p>If you didn't request this, please ignore this email.</p>
